# Data Science Tools and Ecosystem

In this notebook, Data Science tools and ecosystem are summarized.

**Objectives**
- list popular languages for data science
- open source environment for data science
- arithematic expressions (i.e multiply, addition and conversion of hours into minutes).


1. Python
2. R 
3. Java
4. TypeScript

| Data Science Tools |
|--------------------|
| Jupyter notebook |
| Jupyter lab |
| Anaconda |
| Google cloud |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithematic expression to multiply then add integer

In [9]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
200/60

3.3333333333333335

## Author
#### Muhammad Anus